@page
@model QuanLyQuanCafe.Pages.QuanLyNhanVien.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien[0].TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien[0].GioiTinh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien[0].ChucVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien[0].DienThoai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NhanVien[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.NhanVien) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenNhanVien)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DienThoai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    <a asp-page="./Edit" asp-route-id="@item.MaNhanVien">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.MaNhanVien">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.MaNhanVien">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
