@page
@model QuanLyQuanCafe.Pages.QuanLySanPham.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanPham[0].TenKhachHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham[0].Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham[0].Loai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SanPham[0].DonViTinh)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SanPham) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TenKhachHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Loai)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonViTinh)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.MaSanPham">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.MaSanPham">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.MaSanPham">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
